<section class="bg-dark" id="sectionFooter">
  <div class="container-lg">
    <div class="row mb-5">
      <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <footer class="px-md-3">
          <section class="pt-5" id="sectionFooter">
            <div class="p-0 container-lg">
              <div class="row flex-person">
                <div class="d-flex justify-content-start col-sm-12 col-md-6 col-lg-6 col-xl-6">
                  <ul class="wrapper-nav-footer">
                    <li><a href="#">Acerca de nosotros</a></li>
                    <li><a href="#">Descarga tu poliza</a></li>
                    <li><a href="#">Términos y condiciones</a></li>
                  </ul>
                </div>
                <div class="d-flex justify-content-end col-sm-12 col-md-6 col-lg-6 col-xl-6">
                  <div class="wrapper-block">
                    <div class="mb-4">
                      <p>Síguenos en nuestras redes sociales</p>
                    </div>
                    <div class="wrapper-products">
                      <div class="item-product"><input id="check01" type="checkbox" name="check" value="1" />
                        <a target="_blank" href="https://www.facebook.com/" class="wrapper-card radio" for="check01">
                          <i class="fab fa-facebook-f"></i>
                          <p>Facebook</p>
                        </a>
                      </div>
                      <div class="item-product"><input id="check02" type="checkbox" name="check" value="2" />
                        <a target="_blank" href="https://twitter.com/" class="wrapper-card radio" for="check02">
                          <i class="fab fa-twitter"></i>
                          <p>Twitter</p>
                        </a>
                      </div>
                      <div class="item-product"><input id="check03" type="checkbox" name="check" value="3" />
                        <a target="_blank" class="wrapper-card radio" for="check03">
                          <i class="fab fa-youtube"></i>
                          <p>Instragram</p>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </footer>
      </div>
    </div>
  </div>
  <div class="bg-black subFooter py-3 container-fluid">
    <section>
      <p>Copyright 2022</p>

    </section>
  </div>
</section>
