<script src="../../../../../Downloads/carousel-designicode/src/app/modules/user/user-list/user-list.component.ts"></script>
<div id="content">
  <app-header></app-header>
  <section id="section-heading-title">
    <div class="container-lg">
      <div class="row mb-5">
          <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="wrapper-heading-title">
              <h1 class="title-heading">Cotiza tu seguro automotriz</h1>
              <p>¡Resultados instantáneos!</p>
            </div>
          </div>
      </div>
    </div>
  </section>
  <main class="prehome">
    <article>
      <section id="sectionHero">
        <div class="bg-pleca-blue"></div>
        <div class="container-lg p-0">
          <div class="row mb-lg-5">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
<!--                <app-carousel [items]="carouselData"></app-carousel>-->
              <app-home-banner></app-home-banner>

            </div>
          </div>
        </div>
      </section>
      <app-footer></app-footer>
    </article>
  </main>
</div>
